@font-face {
	font-family: wf_412730002332449297325f843;
	src: url("https://static.wixstatic.com/ufonts/2273e2_412730002332449297325f8430a45028/woff2/file.woff2") format("woff2"), url("https://static.wixstatic.com/ufonts/2273e2_412730002332449297325f8430a45028/woff/file.woff") format("woff"), url("https://static.wixstatic.com/ufonts/2273e2_412730002332449297325f8430a45028/ttf/file.ttf") format("ttf");
}

@font-face {
	font-family: wf_4d0d76dc41d14094a4b53b401;
	src: url("https://static.wixstatic.com/ufonts/0ada72_4d0d76dc41d14094a4b53b401e97eee4/woff2/file.woff2") format("woff2"), url("https://static.wixstatic.com/ufonts/0ada72_4d0d76dc41d14094a4b53b401e97eee4/woff/file.woff") format("woff"), url("https://static.wixstatic.com/ufonts/0ada72_4d0d76dc41d14094a4b53b401e97eee4/ttf/file.ttf") format("ttf");
}

body {
	//background: url("../img/body_bg.jpg") 0 0 no-repeat;
	//background-size: cover;
	//background-position: center;
	margin: 0;
	padding: 0;
	max-width: 100%;

}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
.center-auto{
	display: block;
	margin:0 auto;
}
.d-flex{
	display: flex;
	flex-wrap: wrap;
}

.mobile-hidden{
	display: block;
}
.left,.right{
	position: relative;
}
@media screen and (min-width: 768px){
	.d-flex .left{
		width: 50%;
	}
	.d-flex .right{
		width: 50%;
	}
	.flex-reverse{
		flex-direction: row-reverse;
	}
	.desktop-hidden{
		display: none;
	}
}
@media screen and (max-width: 767px){
.mobile-hidden{
		display: none;
	}
}
.w-70{
	width: 70%;
}
.pt-3{
	padding-top:3rem;
}
/* HEADER */
.header {
	position: fixed;
	top: 0;
    right: 0;
    left: 0;
	background-color: rgba(255, 255, 255, 0.6);
	z-index: 1030;
}

.header_container {
	max-width: 400px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo {
	width: 150px;
}
@media screen and (max-width: 767px) {
	.logo {
		width: 120px;
	}
}
.header ul{
	margin-top:1em;
}
.header ul li {
    font-family: wf_412730002332449297325f843;
    list-style: none;
    margin-bottom: 5px;
}
.header ul li a {
    color: black;
    text-decoration: underline;
}

/* Sections */
.container{
	max-width: 1024px;
	margin: 0 auto;
	padding: 0;
}

#intro-skip{
	padding-top: 100px;
	background: url("../img/body_bg.jpg") 0 0 no-repeat;
	background-size: cover;
}
.section{
	padding: 2rem 0;
	overflow: hidden;
}

#polynesian-pearl,#nautilus{
	background: url("../img/Pearl_Spread_Dark_RGB.jpg") 0 0 no-repeat;
	background-size: cover;
}
#polynesian-pearl .right img{
	max-width: 400px;
}

#polynesian-pearl{
	background-size: cover;
	overflow: hidden;
}
#krakatoa-and-spiced-island{
	background: url("../img/TS_Bckgrd_0000_First-Spread.jpg") 0 0 no-repeat;
	background-size: cover;
}
#hippopotomai,
#shrunken-zombie-head,
#tahitian-rorch,
#dark-and-tropical,
#no-booze{
	background: url("../img/TS_Bckgrd_0001_Second Spread.jpg") 0 0 no-repeat;
	background-size: cover;
}
#krakatoa-and-spiced-island{
	background-position: right;
}
#nautilus .flex-reverse .right .desktop-hidden{
	transform: rotate(9deg);
}
#uh-oa,#desktop-uh-oa .left{
	background: url("../img/TS_Bckgrd_0000_First-Spread.jpg") 0 0 no-repeat;
	background-size: cover;
}
#desktop-uh-oa .left{
	padding: 4rem 0;
}
#desktop-uh-oa .left{
	width: 70%;
}
#desktop-uh-oa .right{
	width: 30%;
}
#desktop-uh-oa .left img{
    width: 50%;
}
#uh-oa .right.mobile-hidden img{
	max-width: 300px;
}
#hippopotomai .left,
#hippopotomai .right,
#tahitian-rorch .left,
#tahitian-rorch .right{
	position: relative;
}
#hippopotomai .left .left-img{
	position: absolute;
    width: 250px;
    top: 40%;
    left: -28px;
}
#hippopotomai .right .right-img{
	position: absolute;
    width: 260px;
    top: 40%;
    right: -60px;
}
#tahitian-rorch .left .right-img{
	position: absolute;
    top: 20%;
    right: -26px;
    width: 150px;
    transform: rotate(2deg);
}
#tahitian-rorch .right .left-img{
	position: absolute;
    top: 20%;
    width: 200px;
    right: -40px;
}

#dark-and-tropical .left .left-img{
	position: absolute;  
    top: 47%;
    left: -21%;
}
#dark-and-tropical .right .right-img{
	position: absolute;  
    top: 18%;
    right: -21%;
    max-width: 250px;
}
#dark-and-tropical .left .left-img{
	width: 48%;
}
#rum-flight,#beer-and-wine,#beer-selection,#sparkling{
	background: url("../img/TS_Bckgrd_0005_Wine.jpg") 0 0 no-repeat;
	background-size: cover;
}
#beer-and-wine .section-heading-logo img,
#sparkling .section-heading-logo img{
	width: 90%;
	max-width: 90%;
}
#no-booze .section-heading-logo img{
	width: 75%;
}
#beer-selection .right .left-img{
	width: 250px;
}
#beer-selection .right .right-img{
	width: 200px;
    margin-top: -8%;
    margin-left: -12%;
        position: relative;
    z-index: 1;
}
#sparkling .left .right-img{
	right: -13%;
    position: absolute;
    top: 11%;
    max-width: 235px;
}
#sparkling .right .left-img{
	width: 45%;
	top:7%;
    position: relative;
    z-index: 1;
}
#sparkling .right .right-img{
	right: -45%;
    position: absolute;
    top: 11%;
}
#no-booze .row-1,
#no-booze .row-2,
#no-booze .row-3 {
	position: relative;
}
#no-booze .row-1 .right img,
#no-booze .row-2 .left img{
	width: 80%;
}
#no-booze .row-1 .right{
    position: absolute;
    right: 6%;
    top: -15%;
    z-index: 1;
}
#no-booze .row-2 .left{
    position: absolute;
    left: 7%;
    top: -17%;
    z-index: 1;
}
#no-booze .row-3 .right{
    position: absolute;
    right: 5%;
    bottom: 0;
    z-index: 1;
    transform: rotate(6deg);
}
#no-booze .row-3 .right img{
	max-width: 140px;
}

#shrunken-zombie-head .right img{
	max-width: 370px;
}
@media screen and (min-width: 768px){
	.section{
		padding: 4rem 0;
	}
	#intro-skip img{
		width: 70%;	
	}
	#polynesian-pearl .flex-row .right{
		margin-left: -13rem;
		margin-top:10rem;
	}
	#nautilus .flex-reverse .right{
		  margin-right: -5rem;
	}
	#uh-oa{
		background: url("../img/TS_Bckgrd_0000_First-Spread.jpg") 0 0 no-repeat;
		background-size: cover;
	}
	#uh-oa .left{width: 60%;}
	#uh-oa .right{width: 40%;    margin-left: -8rem;}
	#beer-and-wine .section-heading-logo img,
	#sparkling .section-heading-logo img,
	#no-booze .section-heading-logo img{
		width: 50%;
	}
	#no-booze .row-1 .right img{
		width: 60%;
	}
	#no-booze .row-2 .left img{
		width: 45%;
	}

	
}
@media screen and (max-width: 767px){
	
	#polynesian-pearl{
	    background-position: -400px 100%;
	}
	#polynesian-pearl .flex-row .right img{
		width: 86%;
    	margin-top: -4rem;
    	margin-left: 3rem;
	}
	#nautilus{
		padding-bottom: 4rem;
	}
	#nautilus .flex-reverse .right img{
		width: 90%;
	}
	#nautilus{
		background-position: -1000px 0px;
	}
	#uh-oa{
		padding-bottom: 0;
	}
	#krakatoa-and-spiced-island .left img{
		width: 80%;
	}
	#krakatoa-and-spiced-island .right{
		margin-top: -4rem;
	}
	#hippopotomai{
    	background-position: -700px center;
	}
	#hippopotomai .left .right-img{
		margin-left: 50px;
	}
	#hippopotomai .left .left-img{
		width: 220px;
    	left:0;
	}
	#hippopotomai .right .left-img{
		margin:0;
		width: 80%;
	}
	#hippopotomai .right{
		margin-top: 4rem;
	}
	#hippopotomai .right .right-img{
		width: 220px;
    	right: -35px;
    	top: 30%;
	}
	#shrunken-zombie-head{
		//background-position: -1350px center;
	}
	#shrunken-zombie-head .right{
    	margin-top: -9rem;
    	position: relative;
    	left: 2rem;
    	transform: rotate(6deg);
	}
	#tahitian-rorch .left .left-img,
	#tahitian-rorch .right .right-img{
		margin:0;
		width: 80%;

	}

	#tahitian-rorch .right{
		margin-top: 2rem;
	}
	#tahitian-rorch .right .right-img{
		float:right;
	}
	#tahitian-rorch .left .right-img {
    	top: 0;
   	 	right: 10px;
    	width: 36%;
	}
	#tahitian-rorch .right .left-img{
	    top: -14%;
	    width: 49%;
	    right: auto;
	    left: -8%;
	}
	#dark-and-tropical .left .right-img{
		float: right;
		margin:0;
	}
	#dark-and-tropical .right .left-img{
		margin:0;
	}
	#dark-and-tropical .left .right-img,
	#dark-and-tropical .right .left-img{
		width: 70%;
	}
	#dark-and-tropical .left .left-img{
		left:0;
		top:40%;
	}
	#dark-and-tropical .right{
		margin-top: 2rem;
	}
	#dark-and-tropical .right .right-img {
    	top: -16%;
    	right: 5%;
    	width: 50%;
	}
	
	#beer-and-wine .right{
		margin-top: -3rem;
	}
	#beer-selection{
		background-position: -800px center;
	}
	#beer-selection .right{
		flex-wrap: nowrap;
		margin-top: -4rem;
	}
	#beer-selection .right .left-img{
		    width: 50%;
	}
	#beer-selection .right .right-img{
		    width: 40%;
	}
	#sparkling{
		padding-bottom: 4rem;
    	background-position: -1400px bottom;
	}
	#sparkling .left .left-img{
		width: 90%;
	}
	#sparkling .right .right-img{
		width: 85%;
		float: right;
	}
	#sparkling .left .right-img {
    	width: 40%;
    	left: 50%;
    	top: 10%;
	}
	#sparkling .right .right-img{
		position: static;
	}
	#sparkling .right .left-img {
		position: absolute;
    	width: 40%;
    	top: -2%;
    	left: -2%;
    }
    #no-booze{
    	background-position: center;
    }
	#no-booze .row-1 .left img{
		width: 85%;
    	float: left;
	}
	#no-booze .row-1 .right img{
		width: 35%;
	}
	#no-booze .row-1 .right {
    	right: -45%;
    	top: -15%;
	}
	#no-booze .row-2 .left {
		left: -64%;
    	top: -15%;
	}
	#no-booze .row-2 .left img{
		width: 25%;
	}
	#no-booze .row-2 .right img{
		width: 95%;
    	float: right;
	}
	#no-booze .row-3 .left img{
		width: 85%;
    	float: left;
	}
	#no-booze .row-3 .right{
		right: 0%;
	}
	#no-booze .row-3 .right img{
		width: 80%;
	}
}
/* Footer */
.footer_content {
	background: url("../img/body_bg.jpg") 0 0 no-repeat;
	background-position: bottom;
	height: 100px;
	margin: 0 auto;
	text-align: center;
	padding: 20px 0;

}
.footer_content li {
	display: inline-block;
	width: 30px;
	padding: 0 5px;
}
.footer_content ul {
	padding: 0;
	margin: 0;
}
.copyrights {
	font-family: wf_4d0d76dc41d14094a4b53b401;
	margin-top:1rem;
}
@media screen and (max-width: 767px) {
	.footer_content li img{
		width: 15px;
	}
	.copyrights {
		margin-top:0.7rem;
	}
}
.modal {
	background: url("../img/body_bg.png") 0 0 no-repeat;
	background-size: cover;
	overflow: hidden !important;
}
.modal-dialog{
	display: flex;
    align-items: center;
    height: 100%;
}
.modal-content{
    border: solid 2px #2A2A2A;
    border-radius: 0;
}

.modal-content h2{
	position: absolute;
	color:#fff;
	left:0;
	right: 0;
	color:#2A2A2A;
	font-family: wf_412730002332449297325f843;
    font-size: 2.5rem;
    bottom: 0;
    text-align: center;
    font-weight: 700;
}
.close{
	position: absolute;
    right: 20px;
    opacity: 1 !important;
    top: 15px;
}
.close svg{
	width: 30px;
}


/* Custom animation */
@-webkit-keyframes fadeRotate {
  from {
    opacity: 0;
    transform: rotate(-90deg);
    -webkit-transform:rotate(-90deg);
  }

  100% {
    opacity: 1;
    transform: rotate(0deg);
    -webkit-transform:rotate(0deg);
  }
}
@keyframes fadeRotate {
  from {
    opacity: 0;
    transform: rotate(-90deg);
    -webkit-transform:rotate(-90deg);
  }

  100% {
    opacity: 1;
    transform: rotate(0deg);
    -webkit-transform:rotate(0deg);
  }
}
.animate__fadeRotate {
  -webkit-animation-name: fadeRotate;
  animation-name: fadeRotate;
}


@-webkit-keyframes quickRotate {
  from {
  	opacity: 0;  
    transform: rotate(-360deg);
    -webkit-transform:rotate(-360deg);
  }

  100% {
  	opacity: 1;
    transform: rotate(0deg);
    -webkit-transform:rotate(0deg);
  }
}
@keyframes quickRotate {
  from {
  	opacity: 0;  
    transform: rotate(-360deg);
    -webkit-transform:rotate(-360deg);
  }

  100% {
  	opacity: 1;
    transform: rotate(0deg);
    -webkit-transform:rotate(0deg);
  }
}
.animate__quickRotate {
  -webkit-animation-name: quickRotate;
  animation-name: quickRotate;
}